<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CurlClock.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CurlClock.Properties.Settings>
            <setting name="UpperClockColor" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="UpperClockName" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="UpperClockStartKey" serializeAs="String">
                <value>B</value>
            </setting>
            <setting name="UpperClockStartKeyChar" serializeAs="String">
                <value>B</value>
            </setting>
            <setting name="LowerClockColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="LowerClockName" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="LowerClockStartKey" serializeAs="String">
                <value>R</value>
            </setting>
            <setting name="LowerClockStartKeyChar" serializeAs="String">
                <value>R</value>
            </setting>
            <setting name="UpperClockTextColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="LowerClockTextColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="GameType" serializeAs="String">
                <value />
            </setting>
        </CurlClock.Properties.Settings>
    </userSettings>
</configuration>